---
layout: default
---
  <h1 class="page-heading">Writeups</h1>
  
  {{ content }}
	
<ul>
    {% for category in site.categories %}
      <h2> {{ category | first}} </h2>
      <ul class="post-list">
      {% for posts in category %}
      	{% for post in posts %}
	{% if post.url %}
	<li>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h3>
      </li>
      {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
    {% endfor %}
    </ul>
